html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  top: 12rem;
  width: 100%;
  max-width: 45em;
  justify-content: space-between;
  align-items: flex-start;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

h2 {
  font-size: 3rem;
  font-family: Roboto Condensed;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

.img-flex {
  width: 100%;
  display: inline;
}

.text {
 margin-left: 1rem;
}

.btn-big {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  display: inline-block;
  border-width: 3px;
  border-radius: 8px;
  padding: .6em;
  background-color: #333;
}

.btn:hover {
  background-color: #000;
}

.logo {
  margin-left: 1rem;
}
